{% extends 'list.html' %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static "cards/card_list.css" %}">
{% endblock %}

{% block extra_js %}
  <script src="{% static "cards/card_list.js" %}"></script>
{% endblock %}

{% block list_head %}
  <tr>
    <th scope="col">Product</th>
    <th scope="col">Voucher Number</th>
    <th scope="col">Value</th>
    <th scope="col">PIN/OTP</th>
    <th scope="col">Actions</th>
  </tr>
{% endblock %}

{% block list_entry %}
  <tr class="{{ object.is_active|yesno:"object-active,object-inactive" }}" data-detail-link="{% url "api.cards.detail" pk=object.pk %}">
    <td>
      <p class="product-name">{{ object.product.name }}</p>
      <div class="product-description">{{ object.product.description|linebreaks }}</div>
    </td>
    <td>
      {{ object.key }}
    </td>
    <td>
      <span class="currency">{{ object.currency }}</span>
      <span class="amount">{{ object.value }}</span>
    </td>
    <td>
      <!-- TODO: auto update expired OTP to avoid needing page refresh -->
      {{ object.current_pin.token }}
    </td>
    <td>
      <button class="btn btn-danger archive">Archive</button>
      <button class="btn restore">Unarchive</button>
    </td>
  </tr>
{% endblock %}
