<!DOCTYPE html>

{% load bootstrap3 static %}

<html lang="en">
  <head>
    <title>Gift Card</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% bootstrap_css %}
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header col-xs-8">
          <a class="navbar-brand" href="/">
            Gift Card
          </a>
        </div>

        <div class="navbar-header col-xs-4">
          {% if user.is_authenticated %}
            <div class="user-card">
              Logged in as: {{ user }} (<a href="{% url "logout" %}">logout</a>)
            </div>
          {% endif %}
        </div>
      </div>
    </nav>

    <div class="container">

      <h1>{% block title %}{% endblock %}</h1>

      {% block content %}
        <form method="post" class="form">
          {% block form %}{% endblock %}
        </form>
      {% endblock %}
    </div>

    {% bootstrap_javascript jquery=1 %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js" integrity="sha256-9Nt2r+tJnSd2A2CRUvnjgsD+ES1ExvjbjBNqidm9doI=" crossorigin="anonymous"></script>
    <script src="{% static "common/common.js" %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>
