{% extends 'base.html' %}

{% block title %}{{ view.model_name }} List{% endblock %}
{% block content %}
  <table class="table object-list">
    <thead>
      {% block list_head %}
      {% endblock %}
    </thead>
    <tbody>
      {% for object in object_list %}
        {% block list_entry %}
          <tr>
            <td>
              {{ object }}
            </td>
          </tr>
        {% endblock %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
