.product-name {
  font-weight: bold;
}

.product-description {
  font-size: 90%;
  color: grey;
}

.object-active,
.object-inactive {
  transition: opacity 0.5s;
}

.object-inactive {
  opacity: 0.3;
}

.object-active .restore, 
.object-inactive .archive {
  display: none;
}
